# Ignore .exe, .dll, .lib, .wav files in the specified directories
extractenv/Lib/site-packages/imageio_ffmpeg/binaries/*.exe
extractenv/Lib/site-packages/llvmlite/binding/*.dll
extractenv/Lib/site-packages/torch/lib/*.dll
extractenv/Lib/site-packages/torch/lib/*.lib
media/uploads/*.wav

